body{
  background-color: white;
}
.navigation {
  background-color: rgb(78, 185, 199);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  color: white;
  text-decoration: none;
  font-size: larger;
}

.Cart_img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.MyCart{
  margin: 3rem;
  padding: 3rem;
  background-color: lightgray;
}

.Cart_details{
  background-color: white;

}
.pizzaCarrito{
  font-weight: 600;
  margin-top: 1rem;
}

.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.not-found{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin: 35px;
}
.img-not-found{
  width: 50vw;
  height:50vh;
}
.navIcon{
  width: 25px;
  height: 25px;
}
.navLinks{
  display: flex;
  justify-content: space-around;
  width: 500px;

}
.spanCartTotal{
  font-weight: 600;
  color: white;
  text-decoration: none
}
.spanNavText{
  color: white;
  text-decoration: none
}
.landing{
  background-color: red;
  background-image: url('./assets/img/imgHome.jpg');
  opacity: 0.9;
  color: black;
  background-size: auto;
  background-position: center 60%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.spanIngredients{
  font-weight: 600;
}
.imgProfile{
  height: 400px;
  width: 400px;
  border-radius: 10%;
  margin: 0 50px 0 0;
}
.sectionProfile{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;

}
.pizzaDetails{
  margin: 50px;
  width: fit-content;

}

.pizza_profile{
  display: flex;
  flex-direction: row;
  border: 1px solid;
  border-radius: 2%;
  border-color: rgba(128, 128, 128, 0.664);
  padding: 3rem;
}