.navigation {
  background-color: rgb(50, 136, 151);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  color: white;
  text-decoration: none;
  font-size: larger;
}

.Cart_img{
  width: 40px;
}

.MyCart{
  margin: 3rem;
  padding: 3rem;
  background-color: lightgray;
}

.Cart_details{
  background-color: white;

}

.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}