.navigation {
  background-color: rgb(50, 136, 151);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  color: white;
  text-decoration: none;
  font-size: larger;
}
